
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #000000);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}


form {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}


fieldset {
    border: 2px solid #444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #00ffcc;
    text-align: left;
    margin-bottom: 10px;
}

label {
    margin-right: 15px;
    width: 200px;
    display:inline-block;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #333;
    border-radius: 5px;
    background: #222;
    color: #fff;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    margin: 5px;
}


.btn {
    background: #00ffcc;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #00b3b3;
}


.opportunity-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.opportunity-group select {
    margin-left: 20px;
    background: #333;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Adds space between radio buttons */
    
}

.radio-group input[type="radio"] {
    margin-right: 10px; /* Adds some space after each radio button */
}

.radio-group p {
    margin: 0;
}


textarea {
    height: 150px;
    resize: vertical;
}


