/* Big Shoulders Stencil Display font */
body {
  font-family: 'Big Shoulders Stencil Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Richard Spink
feb 25*/

    table {
        width: 80%;
        border: 2px solid black;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
        text-align: left;
        background-color: rgb(101, 116, 180); /* Table background color */
        color: black; /* Text color for better contrast */
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
    }
    caption{
        color: teal;
        font-size: 30px;
    }

    thead {
        background-color: rgb(255, 255, 255); /* Header background color */
        color: black; /* Ensuring the text is readable */
    }

    caption {
        
        font-weight: bold;
        padding: 10px;
        color: teal;
        font-size: 30px;
    }

    .year {
        font-weight: bold;
        text-align: center;
        background-color: powderblue;
    }
tr:nth-child(even){
    background:rgb(255, 255, 255);
}
