*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}
.blue{
    color:dodgerblue;
    border-color: dodgerblue;
}
.red{
    color:red;
    border-color: red;

}
.green{
    color: green;
    border-color: green;

}

#a{
    float:right;
    clear:right;
    margin-right:300px;
    margin-top: 100px;
    
    
}

#b{float:right;
clear:right;
margin-right: 240px;}

#c{float:right;
    }


#d{float:right;
clear:right;
margin-right:170px}

#e{float:right;
    }

#f{float:right;
    }
