/*Richard Spink March 4*/


#outerwrapper 
	{
	 
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	body
	{
		background-color: #B8D1EB;
		color: #000000;
		font-family: "Times New Roman", Times, serif;

	}
	main{
		background-color: #C5A98B;
		padding: 10px;

	}
	nav ul 
	{
		list-style-type: none; 
		padding: 0; 
		margin: 0; 
	}
	main ul 
	{
		list-style-image: url('../images/tomato.png');
	}
h1
{
	font: Arial;
	font-size: xx-large;
}
h2
{
	font:trebuchet;
	font-weight: normal;
	font-style: italic;

}
.floatleft 
{ 
	
float: left;
margin-right: 3%;
}

.floatright 
{
float: right;
margin-left: 3%;

}

main, footer 
{ 
clear: both;
background-color: #C5A98B;
padding: 10px;
}
footer{
	font-size: .75em;
	text-align: center;
	background-color: rgb(0, 186, 28);
	padding-top: 10px;
	padding-bottom: 10px;
}